# data files
*.pkl
*.graphml
*.csv

# python
__pycache__/
*.pyc

# node
node_modules/

# env
venv/

.DS_Store
venv/
node_modules/
__pycache__/


backend/venv/
__pycache__/
*.pyc
frontend/node_modules/
.env